body {
  font-family: 'DIN', Fallback, sans-serif !important;  
  margin: 0;
  //background-color: #84DBF0
  background: linear-gradient(to right, #84DBF0 50%, pink 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition:all 800ms ease;
}



.bottom-right-class {
  background-position:right bottom;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none ;
  color : inherit;
}

a:hover{
  color: inherit;
}


ul{
  list-style-type: none;
  margin: 0;
}

main{
  display: flex;
  flex-direction:  row;
  align-items: stretch;
  height: 100%;
}

img{
    width: 65%;
    max-height: 100%;  
    height: auto;
}

.pointer:hover{
  cursor :pointer;
}


.opaque{
  opacity: 0;
  transition: all 800ms;
}

.de-transparant-a-visible{
  opacity: 1;
  transition: all 800ms;
}


.home-input{
  border: 1px dotted gray;
  border-radius: 3px;
  background: transparent !important;
}

.contact_message{
  height: 30vh;
}

.sidebar {
  padding-top: 0;
  top: 0;
  min-height: 100%;
  z-index: 999;
  font-size: 20px;
  padding: 20px;
  vertical-align: middle;
  background-color: blue;  
}

.nav-link:hover{
  background-color: rgb(240, 240, 240);
}


.sb-main {
  font-size: 25px;
  font-weight: lighter;
}

.hidden{
  display: none;
}

.hidden-away{
  position: absolute;
  top: -500%;
  left: -500%;
}

#content{
}

.sb-secondary{
  cursor: pointer;
  padding-left: 20px;
}

.sb-secondary .sb-ter {
    max-height: 0;
    overflow: hidden;
}

.sb-secondary:hover .sb-ter {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.sb-span:hover{
  opacity: 0.5;
  transition-duration: 0.3s;
}

.sb-main{
}

#stage{
    margin: 2vh 28% 0vh;
    width: 650px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

#stage img{
  background: #fff;
  width: 70%;
}

.apercu{
  max-width: 45px;
  border: 1px solid black;
}

.photo-frame{
  max-width: 600px;
  border: 1px solid black;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
  cursor: pointer; 

}

.inputfile:focus + label,
.inputfile + label:hover {
}


.photo-index-table{
  tbody{
    td{
      font-size: 10px;
    }
  }
}

.premiere_galerie{
  position: relative;
  text-align: center;
  color: white;
}

.premiere-galerie-lien:hover{
  .premiere-galerie-image{
    opacity: .3;
    transition: 300ms;
    box-shadow: 0px 0px 22px gray;
  }
  .centered-title{
    font-size: 21px;
    transition: 300ms;
  }
}

/* Centered text */
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 20px;
  font-size: bold;
}

.retour{
  position: absolute;
  bottom: 5%;
  right: 27%;
}

.home-main-element{
  height: 18rem;
}

@media only screen and (max-width: 980px) {

  .sidebar {
    height: 10vh;
    background-color: red;
  }

  #stage{
      margin: 1vh auto;
      width: 100%;
  }

  .retour{
    bottom: 7%;
    right: 5%;
  }

  img{
    width: 100%;
  }

  #stage img{  
    width: 100%;
  }  

  .home-main-element {
    height: 32vh;
  }


}