body {
  margin: 0;
}
a {
  text-decoration: none ;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
}
.sidebar {
  padding-top: 0;
  position: absolute;
  top: 0;
  min-height: 100%;
  z-index: 999;
  font-size: 20px;
  padding: 20px;
  width: 25%;
}
.sb-main {
  font-size: 25px;
  font-weight: lighter;
}

.hidden{
  display: none;
}

body {
  font-family: 'Daubenton', Fallback, sans-serif !important;
}

#content{
  margin-left: 25%;
}

.sb-secondary{
  cursor: pointer;
  padding-left: 20px;
}

.sb-secondary .sb-ter {
    max-height: 0;
    overflow: hidden;
}

.sb-secondary:hover .sb-ter {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.sb-span:hover{
  opacity: 0.5;
  transition-duration: 0.3s;
}

.sb-main{
}

#stage{
    margin: 10vh 16%;
    width: 550px;
    text-align: center;
}

#stage img {
  max-width: 100%;
  object-fit: contain;
}

#stage img:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 10s;
  animation-duration: 0.4s;
  z-index: 20;
}
#stage img:nth-of-type(2) {
  z-index: 10;
  display: none;

}
#stage img:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}